<div class="page-wrapper">
  <div class="day">Gün {{ day }}</div>
  <div class="wrapper">
    <div class="remaining">
      <div class="lit-title">Kalan Zaman</div>
      <div>
        {{ remaining }}
      </div>
    </div>

    <div class="row2">
      <div class="cols">
        <div class="not-passed" [class.passed]="sahurPassed">
          Sahur {{ start }}
        </div>
        <div class="not-passed first" [class.passed]="iftarPassed">
          İftar {{ end }}
        </div>
      </div>
    </div>
    <div class="date-wrapper">
      <div class="lit-title">Şu an</div>
      <div class="date">
        {{ date }}
      </div>
    </div>
  </div>
  <div>
    <div class="city">
      <select [(ngModel)]="city" (change)="selectCity($event)">
        <option *ngFor="let level of cities" [ngValue]="level">
          {{ level }}
        </option>
      </select>
    </div>
  </div>
</div>
