.page-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #abdbe3;
  color: black;
  flex-direction: column;
  font-family: monospace;
}

.day {
  color: black;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.passed {
  background: #00cc99 !important;
  color: white;
}

.not-passed {
  background: #990033;
  color: white;
  padding: 20px;
}

.cols {
  width: 100%;
}

.remaining {
  font-size: 80px;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.lit-title {
  font-size: 20px;
}

.first {
  border-bottom: 2px solid white;
}

.date {
  margin-top: 10px;
}

.city select {
  font-size: 20px;
}
